@font-face {
  font-family: "Poppins";
  src: url("/assets/woff-files/Poppins-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/woff-files/Poppins-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/woff-files/Poppins-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/woff-files/Poppins-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// color variables
$core-neutral: #fff;
$core-dark: #18152a;
$core-light: #fff8bd;
$core-light_hover-state: #8578d1;
$core-disabled: lightgrey;
$brand-color: $core-light;
$tertiary: #213550;
$success: #006500;
$fail: #ad0021;

// buttons
$primary-background: $core-neutral;
$primary-core: $core-dark;
$secondary-core: $core-light;
$tertiary-core: $tertiary;
$core-button-border: $primary-core;
$button-border-settings: 1px solid $primary-core;
$button-hover-state: all 0.5s ease-in-out;
$image-border-settings: 1px solid gainsboro;
$box-shadow-standard: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);

//ui-changes
$skew-cut: 85%;

// format mixins
// col
@mixin align-left__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin align-center__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin align-right__column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

// row
@mixin align-left__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@mixin align-center__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin align-right__row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

html,
body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #1a1a1a;
  @include align-left__column;
  background-color: $core-neutral;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #2c4465;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

h2 {
  color: #2c4465;
  font-size: 1.35rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.7rem;
}
h2.headline-text {
  font-size: 1.68rem;
  margin-top: 0;
}
h2.intro-text {
  font-size: 2.6rem;
  margin-top: 0;
}

h3 {
  color: #2c4465;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  color: #1a1a1a;
  font-size: 1rem;
  font-weight: 300;
  line-height: 15pt;
  letter-spacing: 0.55pt;
  margin: 0;
}
p .highlight-text {
  color: #38389c;
  font-weight: 400;
}

a {
  color: #2c4465;
  font-size: 1rem;
  text-decoration: none;
}

ul {
  font-family: "Poppins", sans-serif;
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
ul li {
  display: list-item;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #1a1a1a;
}

.lazyblurry {
  filter: blur(10px);
}

.lazyloaded {
  filter: none;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.fade-in.visible {
  opacity: 1;
}

.primary-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: 6px 6px 12px -5px rgba(111, 111, 111, 0.7490196078);
  margin-bottom: 1em;
  background-color: #2c4465;
  border-color: #2c4465;
  transition: all 0.3s ease-in-out;
  a {
    color: #fff;
    text-decoration: none;
  }
  :hover {
    background-color: #173661;
    box-shadow: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  border: $image-border-settings;
  border-radius: 5px;
}

.success {
  color: $success;
  text-decoration: underline;
}
.failure {
  color: $fail;
  text-decoration: underline;
}

.nav-container {
  background: #6284b4;
  background: linear-gradient(
    90deg,
    rgba(98, 132, 180, 1) 0%,
    rgba(22, 18, 38, 1) 100%
  );
  height: 70px;
  width: 100%;
  @include align-center__column;
  border-bottom: 1px solid #8c39212b;
  box-shadow: $box-shadow-standard;
  transition: all 0.3s ease-in-out;
  header {
    width: 100%;
    height: inherit;
    background-color: transparent;
    display: flex;
    .logo {
      @include align-left__row;
      padding-left: 1em;
      gap: 0.5em;
      max-width: 80%;
      .logo-placeholder {
        display: flex;
        img {
          width: 80px;
          height: auto;
          border: none;
        }
      }
      .logo-container {
        @include align-left__column;
        .logo-name {
          font-size: 18px;
          letter-spacing: 6pt;
          color: $core-neutral;
          font-weight: 700;
        }
        .logo_subtext {
          font-size: 12px;
          color: #dee3ff;
          letter-spacing: 1pt;
          font-style: italic;
          font-weight: 700;
        }
      }
    }
  }
  header nav ul {
    display: none;
    &.open {
      display: flex;
      position: absolute;
      top: 53px;
      left: 0;
      width: 100%;
      height: 100vh;
      @include align-center__column;
      transition: $button-hover-state;
      background: #6284b4;
      background: linear-gradient(
        90deg,
        rgba(98, 132, 180, 1) 0%,
        rgba(22, 18, 38, 1) 100%
      );
      overflow-y: auto;
      text-transform: uppercase;
      z-index: 1100;
      .accordion-item {
        margin-bottom: 0.5rem;
        .accordion-toggle {
          background: inherit;
          font-family: "Poppins";
          letter-spacing: 0.5pt;
          border: none;
          width: 100%;
          text-align: left;
          cursor: pointer;
          padding: 0.5rem 0;
          color: #fff;
          font-size: 1rem;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          .chevron {
            display: inline-block;
            transition: transform 0.3s ease;
          }
          &.open .chevron {
            transform: rotate(180deg);
          }
        }

        .accordion-content {
          display: none;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease;

          .accordion-content li {
            width: max-content;
            margin: 25px 0;
            font-size: 1rem;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          &.open {
            display: contents;
            max-height: 500px;
          }
        }
      }

      li {
        width: max-content;
        margin: 10px 0;
        font-size: 1.1rem;
        @include align-center__column;
        a {
          color: $core-neutral;
          width: 100%;
        }
      }
    }
  }
}

.menu-btn {
  svg {
    width: 35px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 20px;
    path {
      fill: #fff;
    }
  }
}

.hero {
  min-height: 100vh;
  width: -webkit-fill-available;
  overflow: hidden;
  border-bottom: 1px solid $core-dark;
  background: url("../img/banners/hero-banners/index.png") no-repeat
    center/cover;
  @include align-center__column;
  .hero-content {
    background: #fff;
    padding: 1rem;
    gap: 1em;
    z-index: 2;
    @include align-center__column;
    border: 1px solid $core-dark;
    border-radius: 10px;
    h1 {
      font-size: 22px;
      font-weight: 600;
    }

    ul li {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.75px;
    }
    .primary-button {
      max-width: 250px;
    }
  }
}

.usp-banner {
  min-height: 8em;
  width: -webkit-fill-available;
  background-color: #fff;
  border-bottom: 1px solid $core-dark;
  @include align-center__column;
  .usp-item {
    @include align-center__column;
    padding: 1em;
    text-align: center;
    img {
      width: 50px;
      height: auto;
      margin-bottom: 0.5em;
      border: none;
    }
    h3 {
      font-size: 16px;
      font-weight: 600;
      color: $core-dark;
      letter-spacing: 0.75px;
    }
  }
}

.editorial-card {
  padding: 10px;
  .card-grid_start {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10px;
  }
  .card-grid_end {
    background: url("../img/branding/editorial-banner.png") no-repeat
      center/contain;
    min-height: 300px;
    height: 100%;
  }
}

// contact form styles
.contact-page-section {
  margin-bottom: 30px;
  .contact-container {
    @include align-center__column;
    .contact-form {
      display: flex;
      flex-direction: column;
      border: $button-border-settings;
      border-radius: 5px;
      .form-title {
        margin-left: 1em;
      }
      .contact-form-container {
        @include align-center__column;
        border-top: $button-border-settings;
        border-radius: 0;
        background-color: #f5f0c5c2;
        .left {
          @include align-center__column;
          padding-top: 0.5em;
          border-radius: 5px;
        }
        .input-area {
          padding: 0.5em;
          .submit-button {
            @include align-center__column;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $core-dark;
            font-family: "Poppins";
            font-size: 16px;
            background-color: #46db4633;
            cursor: pointer;
            width: 100%;
            height: 36px;
            margin-bottom: 2em;
            border-radius: 5px;
            border: $button-border-settings;
            transition: all 0.5s ease-in-out;
            box-shadow: $box-shadow-standard;
            &:hover {
              background: $core-light_hover-state;
              color: $core-dark;
              border-color: $core-dark;
            }
          }
          span {
            display: flex;
          }
        }
        .right {
          @include align-center__column;
          width: 100%;
          background: #f1e7e4;
          border-left: none;
          border-bottom: none;
          border-right: none;
          border-top: $button-border-settings;
          border-radius: 0;
          .contact-form__logo-container {
            @include align-center__column;
            .logo-container {
              @include align-center__column;
              border-radius: 5px;
              padding: 2em;
              img {
                border: none;
                width: 350px;
                height: auto;
              }
              .logo-title {
                font-size: 18px;
                line-height: 0;
                letter-spacing: 1.1pt;
                text-transform: uppercase;
                color: $core-dark;
              }
              .logo-subtitle {
                font-size: 12px;
                line-height: 40px;
                color: $core-dark;
              }
            }
          }
        }
      }
    }
  }
}

.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .text-field::placeholder {
  color: #3d3d3d81;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .first-child,
.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .second-child,
.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .third-child {
  cursor: pointer;
  width: 80vw;
  padding: 5px;
  border: 1px solid #000100;
  border-radius: 3px;
  font-size: 16px;
  color: #3d3d3d;
}

.contact-page-section .contact-container .contact-form .contact-form-container {
  .left {
    .input-area label .text-field {
      width: 80vw;
      padding: 5px;
      height: 14vh;
      overflow: hidden;
      font-family: "Poppins";
      font-size: 18px;
      color: #3d3d3d;
      border: 1px solid #000100;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

// thank you page styles
.thank-you-section {
  padding: 10px;
  background: url(img/come-together-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  .thank-you-container {
    display: flex;
    animation: thank-you-animation 3s;
    justify-content: center;
    .thank-you-message {
      border: 1px solid $core-dark;
      border-radius: 8px;
      background-color: $core-neutral;
      padding: 10px;
      @include align-center__column;
      max-width: 280px;
      width: 100%;
      h1 {
        line-height: 27pt;
        color: $core-dark;
        font-size: 1.7rem;
        font-weight: 500;
        font-variant-caps: all-petite-caps;
        letter-spacing: 5px;
        text-align: center;
      }
      p span {
        color: #030d8b;
        font-style: italic;
        font-size: 14px;
        font-weight: 500;
      }
      button {
        a {
          color: $core-dark;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 17px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $core-light;
        border: 1px solid $core-dark;
        border-radius: 5px;
        margin: 1em;
        width: 100%;
        height: 30px;
        box-shadow: $box-shadow-standard;
        transition: $button-hover-state;
        &:hover {
          background: $core-light_hover-state;
        }
      }
    }
  }
}

@keyframes thank-you-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Global Footer styles

footer {
  border-top: $button-border-settings;
  .footer-container {
    display: flex;
    flex-direction: column;
    .footer-details {
      background: $secondary-core;
      color: $core-dark;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1em;
      .footer-top-bar {
        flex-direction: row;
        .logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-top: 30px;
          .logo-placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: auto;
            margin-right: 20px;
            flex-direction: column;
            .company-logo img {
              border: none;
            }
          }
          .logo-title {
            font-size: 22px;
            color: $core-dark;
            font-variant-caps: all-petite-caps;
            line-height: 2;
          }
          .logo-subtitle {
            display: none;
          }
        }
      }
      .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-bottom: 20px;
        a {
          color: $core-dark;
          margin-top: 20px;
        }
        .mailto-link {
          text-decoration: underline;
          transition: $button-hover-state;
          &:hover {
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.footer-container .footer-social-icon,
.footer-container small {
  @include align-center__row;
  border-top: 1px solid $core-dark;
  border-bottom: 1px solid gainsboro;
  a {
    display: flex;
    padding: 1rem;
    img {
      border: none;
    }
  }
}

// Medium mobile Phone Viewport styles
@media only screen and (min-width: 375px) {
  .contact-page-section .contact-container .contact-form .form-title {
    margin-left: 1.3em;
  }

  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 365px;
    width: 100%;
  }
}

// Large mobile Phone Viewport styles
@media only screen and (min-width: 425px) {
  .contact-page-section .contact-container .contact-form .form-title {
    margin-left: 1.5em;
  }

  .events-lightbox .events-lightbox__content {
    max-width: 390px;
    width: 100%;
  }

  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 415px;
  }

  footer .footer-container .footer-details .footer-top-bar .logo {
    .logo-title {
      letter-spacing: 5pt;
      margin-top: 0.5em;
    }
    .logo-subtitle {
      display: flex;
      font-size: 17px;
      color: $core-dark;
      font-variant-caps: all-petite-caps;
      letter-spacing: 0.63pt;
    }
  }
}
// tablets to small laptops
@media only screen and (min-width: 610px) {
  .menu-btn svg {
    right: 22px;
  }

  .events-lightbox .events-lightbox__content {
    max-width: 480px;
  }

  /*contact form styles*/
  .contact-page-section .contact-container .contact-form .form-title {
    margin-left: 2.3em;
  }
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container {
    .input-area {
      @include align-center__column;
      label {
        display: flex;
        flex-direction: column;
        .first-child,
        .second-child,
        .third-child {
          width: 58vw;
          height: 40px;
        }
      }
    }
    .left {
      form {
        padding: 2em 2em 1em 2em;
        .input-area label .text-field {
          width: 58vw;
        }
      }
    }
    .right {
      border-radius: 0 0 5px 5px;
    }
  }
}

// Styles for tablets and small laptops
@media only screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    min-height: unset;
    position: relative;
    overflow: hidden;
    background-image: none;
    .hero-content {
      width: 70vw;
      background: #fff;
      padding: 2rem;
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1em;
      z-index: 2;
      border-radius: 0;
      height: 70vh;
      border: none;
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 20px;
      }
    }
    .hero-image {
      flex: 1;
      background: url(../img/banners/hero-banners/index.png) no-repeat
        center/cover;
      margin-left: -15vw;
      height: 70vh;
      width: 60%;
    }
  }
  .usp-banner {
    height: 12em;
    width: -webkit-fill-available;
    background-color: #fff;
    @include align-center__row;
    justify-content: space-evenly;
  }
  .editorial-card {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    gap: 2rem;
    .card-grid_start {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
    }
    .card-grid_end {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
  .menu-btn svg {
    right: 2em;
  }

  // padding for page sections

  .editorial-card,
  .editorial-card > .card-grid-start {
    padding: 2.5em;
  }

  .editorial-card .card-grid_start .inner .gallery {
    @include align-center__row;
    grid-gap: 1em;
  }
  .events-lightbox .events-lightbox__content {
    max-width: 450px;
    .item {
      width: 700px;
    }
    img {
      margin: 0;
    }
  }

  // Thank you styles

  .thank-you-section {
    padding: 0.5em;
    .thank-you-container .thank-you-message button {
      width: 40%;
      margin-bottom: 1.5em;
    }
  }

  footer .footer-container .footer-details {
    padding: 2.2em;
    .footer-top-bar .logo .logo-container {
      .logo-name {
        letter-spacing: 5.2pt;
        font-size: 1.8rem;
      }
      .logo-title {
        font-size: 1.2rem;
        letter-spacing: 2pt;
      }
    }
  }
}

//Styles for Laptops
@media only screen and (min-width: 1024px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      .logo {
        padding-left: 2.5em;
        gap: 1em;
        max-width: unset;
        .logo-placeholder {
          padding: 0;
          width: 100px;
        }
        .logo-container {
          flex-direction: column;
          width: -webkit-fill-available;
          .logo-name {
            letter-spacing: 8.5pt;
          }
          .logo_subtext {
            color: #07e1f2;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1.5pt;
          }
        }
      }
      nav {
        @include align-center__row;
        justify-content: flex-end;
        margin: 0 2em;
        max-height: 60px;
        height: 100%;
        .nav-list {
          @include align-center__row;
          max-height: 60px;

          li {
            @include align-center__row;
            justify-content: flex-end;
            font-size: 1em;
            a {
              @include align-center__row;
              padding: 0 10px;
              color: #fff;
              transition: border-bottom 1s ease-in-out;
              &:hover {
                border-bottom: 1px solid #fff;
              }
            }
            .primary-button {
              @include align-center__row;
              justify-content: flex-end;
              width: 150px;
              background-color: $brand-color;
              a {
                @include align-center__row;
                width: 145px;
                padding: 0 10px;
                transition: 1s all;
                &:hover {
                  color: #ad0021;
                }
              }
            }
            &.accordion-item {
              position: relative;
              line-height: 30px;
              .accordion-toggle {
                background: inherit;
                border: none;
                width: 100%;
                text-align: left;
                cursor: pointer;
                padding: 0 10px;
                font-family: "Poppins";
                letter-spacing: 0.5pt;
                color: #fff;
                font-size: 1rem;
                text-transform: capitalize;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
              }
              .accordion-content {
                position: absolute; // dropdown menu
                display: none;
                top: 53px;
                width: fit-content;
                background: inherit;
                flex-direction: column;
                &.open {
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-start;
                  max-height: 500px;
                  height: auto;
                  background-color: $core-neutral;
                  box-shadow: $box-shadow-standard;
                  li {
                    text-transform: capitalize;
                    a {
                      color: #000;
                    }
                    &:hover {
                      background: gainsboro;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .menu-btn svg {
    display: none;
  }

  .hero .hero-content {
    width: 50vw;
    padding: 0;
    padding-left: 3rem;
  }

  .events-lightbox .events-lightbox__content {
    max-width: 504px;
    height: 765px;
    .item {
      width: 790px;
    }
  }

  // contact section styles
  .contact-page-section {
    padding: 4em;
  }

  .contact-page-section .contact-container .contact-form {
    .form-title {
      margin-left: 3em;
    }
    .contact-form-container {
      @include align-center__row;
      background-color: $core-light;
      .input-area {
        @include align-center__column;

        label {
          display: flex;
          flex-direction: column;
          .first-child,
          .second-child,
          .third-child {
            width: 35vw;
            height: 40px;
          }
        }
        .submit-button {
          width: 200px;
          height: 40px;
        }
      }
      .left {
        width: 50%;
        form {
          // padding: 2em 2em 1em 2em;
          .input-area label .text-field {
            width: 35vw;
          }
        }
      }
      .right {
        width: 50%;
        padding: 4em;
        border: none;
        border-left: 1px solid $core-dark;
        border-radius: 0;
      }
    }

    // thank you page styles
    .thank-you-section {
      padding: 0.5em;
    }

    footer .footer-container .footer-details {
      padding: 4em;
    }
    .footer-social-icon a:hover {
      opacity: 0.5;
      transition: $button-hover-state;
    }
  }
}

// @media only screen and (min-width: 1250px) {
//   .modal.active {
//     width: 390px;
//     height: auto;
//   }

//   .modal.active .close-modal {
//     position: relative;
//     top: -35px;
//     left: 93%;
//   }

//   .nav-container header {
//     .logo {
//       padding-left: 15.5em;
//     }
//     nav ul {
//       margin-right: 4em;
//     }
//   }

//   .editorial-card,
//   .contact-page-section,
//   footer > .footer-container > .footer-details {
//     padding: 0 7.5em;
//   }

//   .editorial-card .card-grid_start .inner {
//     .sm-image {
//       width: 40%;
//     }
//     .gallery {
//       grid-gap: 1em;
//       display: flex;
//       flex-direction: row;
//       flex-wrap: wrap;
//       flex: 0 0 250px;
//       align-items: center;
//       justify-content: space-between;
//       max-width: 87%;
//       .thumbnail-item {
//         border: $button-border-settings;
//         border-radius: 5px;
//         background: $core-neutral;
//         width: calc(910px / 3);
//         img {
//           padding: 5px;
//         }
//       }
//     }
//   }

//   .editorial-card .card-grid_start .inner .sm-image,
//   .editorial-card .card-grid_start .inner img {
//     width: 60%;
//   }
//   .editorial-card .card-grid_start .inner .charity-vest {
//     width: 40%;
//   }
//   // contact-page styles
//   .contact-page-section
//     .contact-container
//     .contact-form
//     .contact-form-container
//     .right {
//     padding: 8em;
//   }
//   .contact-page-section
//     .contact-container
//     .contact-form
//     .contact-form-container
//     .right
//     .contact-form__logo-container
//     .logo-container {
//     padding: 0;
//   }
//   // Thank you page

//   .thank-you-section .thank-you-container .thank-you-message {
//     margin: 2em;
//     padding: 1em;
//   }
// }

@media only screen and (min-width: 1400px) {
  // .nav-container header .logo {
  //   padding-left: 7em;
  // }

  .hero .hero-content {
    padding: 12rem 7rem;
  }

  .usp-banner {
    justify-content: space-evenly;
  }
}
/*Large Laptop/ Desktop viewport styles */
@media only screen and (min-width: 1550px) {
  .editorial-card {
    margin: 0 12.5em;
    padding: 0;
  }

  .editorial-card .card-grid_start .inner .gallery {
    max-width: 80%;
  }

  .events-lightbox .events-lightbox__content {
    width: 35%;
    height: 96%;
  }

  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .left
    .input-area
    label
    .first-child,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .left
    .input-area
    label
    .second-child,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .left
    .input-area
    label
    .third-child,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .left
    .input-area
    label
    .text-field {
    max-width: 500px;
    height: 40px;
    margin: 0.5em;
  }
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .left
    form
    .input-area
    label
    .text-field {
    max-width: 500px;
    height: 200px;
  }

  .contact-page-section {
    margin: 2em 5.5em;
  }

  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .right
    .contact-form__logo-container
    .logo-container {
    padding: 0;
    width: 300px;
    padding: 2.5em 0px;
  }
  footer .footer-container {
    .footer-details {
      padding: 2em 13em;
      .footer-top-bar {
        margin-left: 2em;
        .logo {
          .logo-placeholder {
            margin-right: 12px;
            margin-left: -31px;
            .company-logo {
              display: flex;
              img {
                width: 90px;
              }
            }
          }

          .logo-container {
            .logo-title {
              letter-spacing: 9pt;
              line-height: 14px;
              padding-top: 5px;
              font-size: 21px;
            }
            .logo-subtitle {
              font-size: 18px;
              letter-spacing: 2pt;
              font-variant-caps: all-petite-caps;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1900px) {
  .nav-container {
    padding-left: 15em;
    padding-right: 15em;
    header {
      .logo {
        padding-left: 0;
      }
      nav {
        margin: 0;
      }
      .nav-list {
        margin-right: 0;
      }
    }
  }

  .hero .hero-content {
    padding: 0;
    padding-left: 15em;
    h1 {
      font-size: 42px;
    }
    ul li {
      font-size: 24px;
    }
  }
  // index

  .editorial-card .card-grid_start .inner img {
    width: 60%;
  }

  .events-lightbox .events-lightbox__content {
    width: 28%;
    height: 96%;
  }

  .contact-page-section .contact-container .contact-form {
    .form-title {
      margin-left: 3em;
    }

    .contact-form-container {
      display: flex;
      .left {
        @include align-center__column;
        background: #fff8bd30;
        form {
          padding-top: 1em;
        }
        .input-area .submit-button {
          background-color: #46db4633;
          transition: all 1s ease-in-out;
          &:hover {
            background-color: whitesmoke;
          }
        }
      }
    }
    .right {
      @include align-center__column;
      width: 100%;
      .contact-form__logo-container {
        @include align-center__column;
        border-left: 1px solid $core-dark;
        border-bottom: none;
        border-right: none;
        border-top: none;
        border-radius: 0;
        width: 100%;
        .logo-container {
          @include align-center__column;
          border-radius: 5px;
          padding: 5em;
          background: #f1e7e4;
          img {
            border: none;
            width: 400px;
            height: auto;
          }
          .logo-title {
            font-size: 28px;
            line-height: 0;
            letter-spacing: 1.1pt;
            text-transform: uppercase;
            color: $core-dark;
          }
          .logo-subtitle {
            font-size: 18px;
            line-height: 50px;
            color: $core-dark;
          }
        }
      }
    }
  }

  footer .footer-container .footer-details {
    padding: 5em 18em;
  }
}

@media only screen and (min-width: 1919px) {
  .nav-container header nav ul {
    margin-right: 13em;
  }
  .editorial-card {
    margin: 0 20.5em;
  }
  .editorial-card .card-grid_start .inner .sm-image,
  .editorial-card .card-grid_start .inner img,
  .editorial-card .card-grid_start img {
    width: 50%;
  }
  .editorial-card .card-grid_start .inner .charity-vest {
    width: 30%;
  }
  .editorial-card .card-grid_start .inner .gallery {
    max-width: 72%;
  }
  .editorial-card .card-grid_start .inner .editorial-desc_alt {
    margin-right: 0;
  }
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .left
    .input-area
    label
    .first-child,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .left
    .input-area
    label
    .second-child,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .left
    .input-area
    label
    .third-child,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .left
    .input-area
    label
    .text-field {
    width: 30vw;
    height: 50px;
    margin: 8px 40px;
  }
  .contact-page-section
    .contact-container
    .contact-form
    .right
    .contact-form__logo-container {
    border-left: none;
  }
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .right
    .contact-form__logo-container
    .logo-container {
    width: 353px;
    padding: 2.5em;
    .logo-title {
      font-size: 23px;
      line-height: 0;
      letter-spacing: 1.3pt;
      text-transform: uppercase;
    }
    .logo-subtitle {
      font-size: 18px;
      line-height: 50px;
      font-variant-caps: all-small-caps;
    }
  }

  footer .footer-container .footer-details {
    padding: 5em 21em;
  }
}
